html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 100%;
    margin: 0;
    align-items: center;
    font-family: monospace;
    font-size: 2rem;
    background-color: #0e0e0e;
    color: white;
    background-image: linear-gradient(to bottom right, #0e0e0e, #161616);
}

@media (prefers-color-scheme: light) {
    body {
        color: black;
        background-color: rgb(247, 247, 247);
        background-image: linear-gradient(to bottom right, #ffffff, #cccccc);
    }

    img.headshot {
        border-color: black;
    }

    span {
        color: green;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        color: white;
        background-color: #0e0e0e;
        background-image: linear-gradient(to bottom right, #0e0e0e, #161616);
    }

    img.headshot {
        border-color: white;
    }

    span {
        color: greenyellow;
    }
}

a {
    font-weight: bold;
    color: blue;
}

a:visited, a:hover, a:active {
    color: blue;
}

#cursor {
    display: inline;
    animation-name: blink;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#container {
    text-align: start;
    margin: 0 0.5em;
    min-width: 200px;
}

#skip {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 1rem;
    text-align: center;
}

img {
    border-radius: 50%;
    max-width: 50%;
    border: 5px solid white
}

@keyframes blink {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
  }
