html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 100%;
    margin: 0;
    align-items: center;
    font-family: monospace;
    font-size: 1.5rem;
    color: black;
    background-color: #ffffff;
    background-image: linear-gradient(to bottom right, #ffffff, #c7c7c7);
}

img.headshot {
    border-color: black;
}

a,
span,
a:visited,
a:hover,
a:active {
    color: blue;
}

@media (prefers-color-scheme: light) {
    body {
        color: black;
        background-color: #ffffff;
        background-image: linear-gradient(to bottom right, #ffffff, #c7c7c7);
    }

    img.headshot {
        border-color: blue;
    }

    a,
    span,
    a:visited,
    a:hover,
    a:active {
        color: blue;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        color: white;
        background-color: #0e0e0e;
        background-image: linear-gradient(to bottom right, #0e0e0e, #1a1a1a);
    }

    img.headshot {
        border-color: limegreen;
    }

    a,
    span,
    a:visited,
    a:hover,
    a:active {
        color: limegreen;
    }
}

a {
    font-weight: bold;
}

#cursor {
    display: inline;
    animation-name: blink;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#container {
    text-align: start;
    margin: 1rem;
    min-width: 200px;
    align-self: center;
}

#skip {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 1rem;
    text-align: center;
}

img {
    border-radius: 50%;
    max-width: 75%;
    border: 3px solid blue;
    max-height: 40%;
}

main {
    display: flex;
    min-height: 40%;
}

@keyframes blink {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
