---
---
@import "minima";

html, body {
	background-color: #fafafa;
}

body {
	 font-family: 'Roboto', sans-serif;
	 color: rgba(0, 0, 0, 0.87);
}

a, a:visited {
	color: #ff4081;
}

header.site-header {
	background-color: #3F51B5;
}


.site-title, .site-title:visited {
	color: #fff;
}

.site-title:hover {
	text-decoration: none;
}

.site-nav .page-link {
	color: #fff;
}

.site-header {
	border: 0;
	box-shadow: 2px 5px 5px rgba(0,0,0,0.26);
}

.headshot {
	border-radius: 100%;
    margin-bottom: 2rem;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.26);
}

.home-title {
	display: inline-block;
}

.home-container {
	display: flex;
	flex-flow: row wrap;
	align-items: flex-end;
}

.home-container > div {
	flex: 1 50%;
}

.footer-col-wrapper {
	color: rgba(0, 0, 0, 0.54);
}

.site-footer {
	box-shadow: 2px -5px 5px rgba(0,0,0,0.26);
}

.site-nav {
	background-color: #3F51B5;
}


@media all and (max-width: 800px) {
  .home-container > div {
    flex: 1 100%;
  }

  .headshot {
  	display: block;
  	margin: 0 auto;
  }
}

@media all and (max-width: 600px) {
  .site-nav {
    background-color: #fff;
    box-shadow: 2px 5px 5px rgba(0,0,0,0.26);
  }

  .site-nav .page-link {
  	color: rgba(0, 0, 0, 0.87);
  	margin-left: 0;
  }
}