---
---
@import "minima";

html, body {
	background-color: #fafafa;
}

header.site-header {
	background-color: #3F51B5;
}


.site-title, .site-title:visited {
	color: #fff;
}

.site-nav .page-link {
	color: #fff;
}

.site-header {
	border: 0;
	box-shadow: 2px 5px 5px rgba(0,0,0,0.26);
}

.headshot {
	border-radius: 100%;
    border: 1px solid #919191;
    margin-bottom: 2rem;
}
.home-title {
	display: inline-block;
}

.home-container {
	display: flex;
	flex-flow: row wrap;
	align-items: flex-end;
}

.home-container > div {
	flex: 1 50%;
}


@media all and (max-width: 800px) {
  .home-container > div {
    flex: 1 100%;
  }
}