---
---
@import "minima";

html, body {
	background-color: #fafafa;
}

header.site-header {
	background-color: #3F51B5;
}


.site-title, .site-title:visited {
	color: #fff;
}

.site-nav .page-link {
	color: #fff;
}

.site-header {
	border: 0;
	box-shadow: 2px 5px 5px rgba(0,0,0,0.26);
}

.headshot {
	border-radius: 100%;
    margin-right: 1rem;
    border: 1px solid #919191;
}
.home-title {
	display: inline;
}