---
layout: default
---

<div class="home"> 
  {{ content }}
  <img class="headshot" src="assets/images/headshot.jpg">
  <h1 class="home-title">Software Developer</h1>
  <br><br>
  <p>I am a student and software developer with over 2 years of professional experience shipping great software. I love all things technology related and actively venture to pursue new things going on in the industry. In my spare time, I love to work on my side projects, play video games, and watch soccer.</p>
  <p>Some of my favorite languages include: C#, Python, Ruby, JavaScript, and many more. I also have experience with SQL, HTML, and CSS as I have done work in the web development space.</p>
  <p>Feel free to reach out to me at <a href="mailto:yusef.ouda@outlook.com">yusef.ouda@outlook.com</a> if you have any questions or would like to chat.</p>
</div>
