---
layout: default
---
<div class="home-container">
  <div class="home about-me">
    <img class="headshot" src="assets/images/headshot.jpg">
    <h1>About Me</h1>
    <h2>Summary</h2>
    <p>I am a student and software developer with over 2 years of professional experience shipping great software. I love all things technology related and actively venture to pursue new things going on in the industry. In my spare time, I love to work on my side projects, play video games, and watch soccer.</p>
  </div>
  <div class="home experience">
    <h2>Experience</h2>
    <ul>
      <li><strong>ShipStation</strong> - Software Engineer</li>
      December 2014 - May 2017 <br>
      <u>Technologies used:</u> C#, .NET, JavaScript, Backbone.js, Node.js, SQL Server, Git
    </ul>
    <h2>Projects</h2>
    <ul>
      <li><a href="https://github.com/yusefouda/steam-buddy" target="_blank" title="Steam Buddy Github">Steam Buddy</a> - Ruby on Rails website using the Steam API</li>
      <li><a href="https://github.com/yusefouda/discord-pubg-bot" target="_blank" title="Discord PUBG Bot">Discord Bot</a> - Discord Bot written in Python</li>
      <li><a href="https://github.com/ccrama/slide" target="_blank" title="Slide Github">Slide</a> - Open source Reddit client for Android (contributor)</li>
    </ul>
    <h2>Education</h2>
    <ul>
      <li><strong>Dakota State University</strong> - B.S. in Computer Science</li>
      September 2014 -  September 2018
      <li><strong>Rochester Community and Technical College</strong> - A.S. in Computer Science</li>
      May 2013 -  May 2014
    </ul>
  </div>
</div>